<html>
  <h1>
    CSIM Vending Machine
  </h1>
  <div>
    <H1>BALANCE:<span>{{ .balance }}</span></H1>
  </div>
  <form method="post" action="/insertCoin">
    <label>Input Coin:</label>
    <input type="text" class="form-control" name="coin" id="coin" placeholder="Enter Cash">
    <button type="submit" class="btn btn-primary">Insert</button>
  </form>
  <a href="/retrive" type="a">Retrive Coin</a>
  <table style="width:auto; text-align:center;">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Buy?</th>
      </tr>
    </thead>
    <tbody>
      {{range .items}}
      <tr>
        <td>{{.Id}}</td>
        <td>{{.Name}}</td>
        <td>{{.Amount}}</td>
        <td>{{.Price}}</td>
        <td>
          {{if ge $.balance .Price }}
          OK
          {{else}}
          Can not
          {{end}}
        </td>
      </tr>
      {{end}}
    </tbody>
  </table>
  <ul>

  </ul>
</html>